.container {
	margin: auto;
	width: 40%;
	max-height: 90%;
	background-color: #fff;
  position: relative;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	border-radius: 5px;
	overflow: hidden;
}

.container .closeBtn {
	float: right;
	position: absolute;
	right: 0;
	margin: 10px;
	color: white;
	cursor: pointer;
}

.container .closeBtn:hover {
	color: red;
}



.container .pictureBox img {
	width: 100%;
	max-height: 60%;
	object-fit: contain;
}


.tag {
	margin: 10px;
}

.location {
	display: flex;
}

.date{
	display: flex;
}

.content p {
	margin: 10px;
}

.remark {
}

@media screen and (max-width: 1200px) {
	.container { 
		width: 40%;
	}
}
 
/* Small Tablet to Big Tablet from 768 to 1023px */
@media screen and (max-width: 1023px) {
	.container { 
		width: 50%;
	}

}
 
/* Small Phones to small Tablet 481-767px(Ipad) */
@media screen and (max-width: 767px) {
	.container { 
		width: 60%;
	}

}
 
/* Small Phones 0 to 480px(Iphone) */
@media screen and (max-width: 480px) {

}