.header {
	display: flex;
	align-items: center;
	background-color: #7828B4;
}

.header .logo {
	font-family: sans-serif;
	color: white;
	margin: 0 0 0 78px;
	font-size: 36px;
	padding: 24px 0;
	cursor: pointer;
}

.header a {
	font-size: 28px;
	text-decoration: none;
	margin: 0 10px;
	color: white;
}