.header {
	display: flex;
	align-items: center;
	background-color: #7828B4;
	justify-content: space-between;
}

.header .logo {
	font-family: sans-serif;
	color: white;
	margin: 0 0 0 78px;
	font-size: 36px;
	padding: 24px 0;
	cursor: pointer;
}

.header a {
	font-size: 28px;
	text-decoration: none;
	margin: 0 10px;
	color: white;
}

.select {
	display: flex;
}

.custom_select {
	height: 34px;
	overflow: hidden;
	background-color: white;
	color: white;
}

.custom_select select { 
	background-color: transparent;
	padding: 5px;
	font-size: 1rem;
	border: 1px solid #ccc;
	height: 34px;
}


